{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center row-gap-4">

            <div class="row align-items-center">
                <div class="col-md-7">
                    探す対象：{{ search_word }}<br/>
                    探すフォルダ：
                    <form action="{% url "app:folder_choice" search_word %}" method="GET">
                        <input type="hidden" name="token2" value="{{ token2 }}">
                        <button type="submit">フォルダを選択</button>
                    </form>
                </div>
                <div id="spinner" class="col-md-3 text-center" style="display: none">
                    画像を探しています
                    <div class="spinner-border spinner-border-sm text-success" role="status"></div>
                </div>
            </div>

            <div class="row justify-content-center row-gap-5">
                <script>
                    let folder = "{{img_files}}";
                </script>

                <div id="img_list" class="row justify-content-evenly align-items-start row-gap-4">
                    {% for img_file in img_files %}
                        <label for="img{{forloop.counter}}" class="img_label col-md-3 text-center">
                            <img src="{{ img_file }}" class="img-thumbnail" style="height: 150px; width: auto">
                            <input type="checkbox" value="" id="img{{forloop.counter}}" class="col-md-3 d-block mx-auto" checked="checked">
                        </label>
                    {% endfor %}
                </div>
            </div>

            <div class="row row-gap-2">
                <div id="folder" style="display: none">
                    チェックを入れた画像を移動：
                    <button type="button" id="button2">移動先のフォルダを選択</button>
                </div>
                <div id="move_text"></div>
            </div>

        </div>
    </div>

{% endblock %}
