{% extends "base.html" %}

{% load django_bootstrap5 %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center row-gap-4">

        <div class="col-md-12">
            <div class="row align-items-center row-gap-3">

                <div class="col-md-2">
                    探す対象：{{ search_word }}
                </div>

                <div class="col-md-3">
                    探し方：
                    <div class="form-check">
                        <label><input type="radio" name="yolo" value="yolo_n" checked="checked">探すのは速いが精度は低い</label>
                    </div>
                    <div class="form-check">
                        <label><input type="radio" name="yolo" value="yolo_l">探すのは遅いが精度は高い</label>
                    </div>
                </div>

                <div class="col-md-auto">
                    探すフォルダ：<button type="button" id="button1" class="f_button" name="button1">フォルダを選択</button>
                    <label for="button1" id="folder_name"></label>
                </div>

                <div id="spinner2" class="col-md-3" style="display: none">
                    画像を探しています
                    <div class="spinner-border spinner-border-sm text-success" role="status"></div>
                </div>

            </div>
        </div>

        <div class="col-md-12">
            <div id="file_list" class="row justify-content-evenly align-items-start row-gap-4"></div>
        </div>

        <div class="col-md-12">
            <div id="file_move" style="display: none">
                チェックを入れた画像を移動：
                <button type="button" id="button2" class="f_button" name="button2">移動先のフォルダを選択</button>
            </div>
            <div id="move_text" class="mt-2"></div>
        </div>

    </div>
</div>

{% endblock %}
