{% load django_bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="{% static "css/accounts.css" %}">

        <title>うちの仔</title>
    </head>

    <body>
        {% url "accounts:index" as index %}
        {% if request.path != index %}
        <nav class="navbar navbar-expand-md bg-danger-subtle">
            <div class="container">

                <a href="{% url "app:home" %}" class="navbar-brand">
                    <img src="{% static "images/20240707.jpg" %}" alt="うちの仔" class="img-fluid" width="100px"
                        height="auto">
                </a>

                {% if user.is_authenticated %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">

                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a href="{% url "admin:index" %}" class="nav-link">管理者画面</a>
                        </li>
                        {% endif %}

                        <li class="nav-item dropdown">

                            <button class="btn dropdown-toggle btn-light" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                メニュー
                            </button>

                            <ul class="dropdown-menu">
                                <li>
                                    <form action="{% url "accounts:logout" %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="dropdown-item">ログアウト</button>
                                    </form>
                                </li>
                                <li>
                                    <a href="{% url "accounts:delete" user.pk %}" class="dropdown-item text-danger">
                                        アカウント削除
                                    </a>
                                </li>
                            </ul>

                        </li>
                    </ul>
                </div>
                {% endif %}

            </div>
        </nav>
        {% endif %}

        <main class="py-4">
            {% block content %}{% endblock %}
        </main>

        <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/alfrcr/paginathing/dist/paginathing.min.js">
        </script>
        {% bootstrap_javascript %}
        <script src="{% static "js/app.js" %}"></script>
    </body>

</html>
